.daddy-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    a{
        color: white;
        font-family: sans-serif;
        text-decoration: none;
        margin: 10px;
    }
    button{
        padding: 10px;
        font-weight: bolder;
        border: 2px solid #FFB500;
        background: transparent;
        color: white;
    }
}