
.main-token-div{
    background-color: black;

    .token-allowed{
        background-image: url("../Assests/bg.png");
        width: 80% !important;
        margin: auto;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        border: solid yellow;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .chart-div{
        border: solid red;
        img{
            border: solid gold;
            
        }
    }
      .chart-text{
        width: inherit;
        border: solid red;
          label{
              color: wheat;
              
          }
          .color-container{
              display: flex;
              justify-content: space-between;
          }
          .color-div{
              width: 20px;
              height: 20px;
              background: gold;
              border:2px solid black;
              outline: solid gold;
          }
      }
}